input{
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 3px;
    padding:11px 16px;
    width:100%;
}
input::placeholder{
    color:#9e9e9e;
    opacity:1;
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile */
@media screen and (max-width:426px){
    .text-input-double{
        display:block;
        width:100%;
    }
    input{
        margin-bottom:20px;
    }
}