button{
    padding:14px 40px;
    border-radius:3px;
    cursor:pointer;
    transition:.25s ease-in-out all;
    &:hover{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition:.25s ease-in-out all;
    }
}
.button-2{
    padding:20px 40px;
    border-radius:15px;
}
.button-3{
    text-align:left;
    padding:20px 0;
}
.button-image-container{
    display:flex;
    align-items:center;
    .button-container{
        display:inline-block;
    }
    img{
        margin-left:8px;
        height:18px;
    }
}